@page {
    header: header2;
}

@page :first {
    header: header1
}

* {
    color: #4a4a49;
    font-size: 7pt;
}

span.separator {
    color: white;
    font-weight: bold;
    font-size: 10pt
}

h1, h2 {
    color: #95c11f;
}

h1 {
    font-size: 21pt;
    font-weight: bold;
}

h2 {
    font-size: 18pt;
    font-weight: bold;
}

h3 {
    font-weight: normal;
    color: #4a4a49;
}

h4 {
    margin: 0;
}

.content table {
    width: 100%
}

div.field {
    margin-bottom: 1mm;
    page-break-inside: avoid;
}

div.field p {
    margin-top: 0;
    background-color: #E5F1D4;
    padding: 1mm 3mm;
    height: 10mm;
    border-radius: 1mm;
    vertical-align: center;
    line-height: 10mm;
    width: 100%;
    margin-bottom: 1mm;
    font-size: 10pt;
}

h4 {
    color: #4a4a49;
    margin-bottom: 1mm;
    font-weight: normal;
    font-size: 7pt;
}

div.checkbox {
    margin-bottom: 1mm;
    background-color: #E5F1D4;
    border-radius: 1mm;
    height: 10mm;
    page-break-inside: avoid;
}

div.checkbox p {
    width: 100%;
    margin-top: 0;
    height: 10mm;
    line-height: 10mm;
    font-size: 7pt;
    padding: 0;
}

table td {
    vertical-align: middle;
    color: #4a4a49;
    font-size: 7pt;
    line-height: 10mm;
    padding: 0;
    height: 10mm;
}

table.checkbox-field tr td {
    padding: 0;
}

td.others {
    width: 20%;
    border-right: 0.3mm solid white;
}

table td.others-text {
    padding-left: 5pt;
    font-size: 10pt;
    color: black;
}

div.repeatable {
    margin-bottom: 1mm;
}

div.repeatable p {
    margin-top: 0;
    background-color: #E5F1D4;
    padding: 1mm 3mm;
    height: 10mm;
    border-radius: 1mm;
    line-height: 10mm;
    width: 100%;
    margin-bottom: 1mm
}

.circle {
    background-color: #95c11f;
    height: 14mm;
    width: 14mm;
    border-radius: 14mm;
    text-align: center;
    vertical-align: middle;
    line-height: 14mm;
    margin-top: 0;
    margin-left: -18mm;
    margin-bottom: -10mm;
    color: white;
    font-weight: bold;
    font-size: 16pt;
}
